include LICENSE
include README.md
include pyproject.toml
include jupyter-config/cdm_jupyterlab_brand_extension.json

include package.json
include install.json
include ts*.json
include yarn.lock

graft cdm_jupyterlab_brand_extension/labextension

# Javascript files
graft lib
graft style
prune **/node_modules

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints
