#jp-MainLogo {
    background-image: url(./images/kbase_logo_36x28.png);
    background-repeat: no-repeat;
}

#jp-MainLogo>svg {
    visibility: hidden;
}

#jp-RetroLogo {
    background-image: url(./images/kbase_logo_53x42.png);
    background-repeat: no-repeat;
}

#jp-RetroLogo>svg {
    visibility: hidden;
}

#jp-NotebookLogo {
    background-image: url(./images/kbase_logo_53x42.png);
    background-repeat: no-repeat;
}

#jp-NotebookLogo>svg {
    visibility: hidden;
}